<%- include('templates/header.ejs') %>

<div class="container" id="homepage_body" >
<p><%- user.username %></p>
<p><p>ADMIN // USER TYPE: <%- user.type %></p><%- user.type %></p>
</div>


<!-- FOOTER -->
<%- include('templates/footer.ejs') %>